:root {
    --main-color: #6369D1;
    --secondary-color: #D8D2E1;
    --accent-color: #60E1E0;
    --font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background: linear-gradient(135deg, var(--main-color), var(--secondary-color));
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.months button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ce93d8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease;
}

.months button:hover {
    transform: scale(1.1);
    background-color: #ba68c8;
}

/* Galería */
.album {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.album img,
.album video {
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: 2px solid #7b1fa2;
}

.album img:hover,
.album video:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Modal */
#modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
}

.modal-media {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

#modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

#music-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #4a148c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    cursor: pointer;
}


#countdown {
    text-align: center;
    margin-top: 50px;
}

#countdown h2 {
    font-size: 2em;
    color: #e91e63;
    margin-bottom: 20px;
}

#timer {
    font-size: 2.5em;
    font-weight: bold;
    color: #ff4081;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}